.App {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.App button {
    height: 45px;
    width: 200px;
    background-color: #61dafb;
    margin: 0 2rem;
}